---
import { useTranslation, getLanguageFromURL } from "@i18n/utils";
import { filterArticlesByPageLang, formatToArticleBlocks } from "@utils/article";
import PageLayout from "@layouts/default.astro";
import PageHeading from "@components/PageHeading.astro";
import ArticlesList from "@root/components/ArticlesList";
import { getTagList } from "@root/queries/tag";
import { getArticleList } from "@root/queries/article";

const t = useTranslation(Astro);
const pageLang = getLanguageFromURL(Astro.url.pathname);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const tags = (await getTagList()).map((t) => t.title);
const articles = (await getArticleList()).flatMap((a) => filterArticlesByPageLang(a.translations, pageLang));
const articleBlocks = formatToArticleBlocks(articles);
---

<PageLayout
	lang={pageLang}
	title={t("pageTitle.articles")}
	description={t("pageDescription.articles")}
	canonicalUrl={canonicalUrl.href}
>
	<PageHeading heading={t("pageTitle.articles")} description={t("pageDescription.articles")} />
	<section>
		<ArticlesList
			client:load
			i18n={{ "articles.empty": t("articles.empty"), "input.search": t("input.search") }}
			articles={articleBlocks}
			tags={tags}
			pageLang={pageLang}
		/>
	</section>
</PageLayout>
