---
import type { CollectionEntry } from "astro:content";
import slugify from "@sindresorhus/slugify";
import { URL_BLOG_PREFIX } from "@root/pages/[...blog].astro";
import { DEFAULT_LANGUAGE } from "@root/constants";
import { getLanguageFromURL } from "@i18n/utils";
import { createDateFormatter } from "@root/utils";

export interface Props {
	entry: CollectionEntry<"blog">;
}

const pageLang = getLanguageFromURL(Astro.url.pathname);
const {
	entry: {
		id,
		data: { title, pubDate },
	},
} = Astro.props as Props;
const slug = slugify(title, { lowercase: true });
const articleLang = id.split("/")[0];
---

<article
	itemprop="blogPosts"
	itemscope
	itemtype="http://schema.org/BlogPosting"
	class="article-item"
>
	<a
		href={articleLang === DEFAULT_LANGUAGE
			? `/${URL_BLOG_PREFIX}/${pubDate.toISOString().split("T")[0]}/${slug}`
			: `/${articleLang}/${URL_BLOG_PREFIX}/${pubDate.toISOString().split("T")[0]}/${slug}`}
	>
		<div class="flex">
			<h3 itemprop="headline">{title}</h3>
			{articleLang !== pageLang && <sup>{articleLang.toLocaleUpperCase()}</sup>}
		</div>
		<p>
			<time datetime={pubDate.toISOString()}>
				{createDateFormatter(pageLang).format(pubDate)}
			</time>
		</p>
	</a>
</article>

<style lang="scss">
	article {
		border-radius: var(--border-radius-md);
		text-decoration: none;
		& a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 10px;
			color: var(--font-color);
			padding: 8px 0;
			& sup {
				margin-left: 5px;
				font-size: 0.7em;
			}
			& h3 {
				font-size: var(--font-size-md);
				font-weight: normal;
				margin: 0;
			}
			& p {
				font-size: var(--font-size-xs);
				font-family: var(--font-family-monospace);
				color: var(--font-color-gray);
				text-transform: uppercase;
				text-align: right;
				white-space: nowrap;
				margin-bottom: 0;
			}
		}
	}

	@media screen and (max-width: 560px) {
		article {
			margin-bottom: 10px;
			& a {
				flex-direction: column-reverse;
				align-items: flex-start;
				& p {
					margin-bottom: 5px;
				}
			}
		}
	}
</style>
