---
import { getLanguageFromURL } from "@i18n/utils";
import * as utils from "@utils/index";
import ArticleItem from "@components/ArticleItem";
import EmptyList from "@components/EmptyList.astro";
import UIString from "@components/UIString.astro";
import TranslatedLink from "@components/TranslatedLink.astro";
import { getRecentArticleList } from "../queries";

export interface Props {
	limit?: number;
}

const { limit = 1 } = Astro.props;
const pageLang = getLanguageFromURL(Astro.url.pathname);
const data = await getRecentArticleList();
const articles = data.flatMap((a) => utils.removeArticleDuplicates(a.translations, pageLang));
const isEmpty = articles.length === 0;
---

<section>
	<div>
		<h2>
			<UIString key={"recentArticles.heading"} />
		</h2>
		<TranslatedLink to="/articles/">
			<UIString key={"recentArticles.all"} />
		</TranslatedLink>
	</div>
	<div itemscope itemtype="http://schema.org/Blog">
		{
			!isEmpty ? (
				articles
					.slice(0, limit)
					.map(
						(a) =>
							a && (
								<ArticleItem
									slug={a.slug}
									title={a.title}
									languages_code={a.languages_code}
									pub_date={a.pub_date}
									pageLang={pageLang}
								/>
							)
					)
			) : (
				<EmptyList />
			)
		}
	</div>
</section>

<style lang="scss">
	section {
		& > div:nth-child(1) {
			display: flex;
			align-items: center;
			column-gap: 15px;
			row-gap: 5px;
			flex-wrap: wrap;
			justify-content: space-between;
			border-bottom: 1px solid var(--border-color);
			padding-bottom: 10px;
			& h2 {
				margin: 0;
			}
		}
		& > div:nth-child(2) {
			margin-top: 10px;
			max-width: calc(var(--content-width) + (var(--content-padding) * 2));
		}
	}
</style>
