---
import { Image, Picture } from "@astrojs/image/components";
import { createDateFormatter } from "@root/utils";
import ArticleComments from "@components/ArticleComments";
import "./ArticlePost.scss";
import TranslatedLink from "../TranslatedLink";

export type Props = {
	data: ArticleType;
	lang: string;
};

const { data, lang } = Astro.props as Props;
const { title, coverImage, tags, author, published_at } = data;
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="article">
	<header>
		<div class="tags">
			<ul itemprop="keywords">
				{
					tags.map((tag) => (
						<li>
							<TranslatedLink rel="tag" to={`/articles/?tags=${tag.toLocaleLowerCase()}`}>{`${tag}${
								tags.at(-1) === tag ? "" : ","
							}`}</TranslatedLink>
						</li>
					))
				}
			</ul>
		</div>
		<div class="heading">
			<h1 itemprop="headline">{title}</h1>
		</div>
		<div class="published">
			<time itemprop="datePublished" datetime={published_at}
				>{createDateFormatter(lang).format(new Date(published_at))}
			</time>
			<span itemprop="author">{author}</span>
		</div>
		{
			coverImage && (
				<div>
					<figure>
						<Picture
							itemprop="image"
							src={coverImage}
							sizes="(max-width: 500px) 500px, 700px"
							widths={[500, 700]}
							formats={["webp"]}
							aspectRatio={"16:9"}
							alt={title}
						/>
					</figure>
				</div>
			)
		}
	</header>
	<slot />
	<ArticleComments />
</article>
