---
import { DateFormatter } from "@root/utils";
import { Image, Picture } from '@astrojs/image/components'
import "./ArticlePost.scss";

export type Props = {
	data: ArticleType;
}

const { data } = Astro.props as Props;
const { title, tags, author, published_at } = data;
---

<article class="article">
	<header>
		<div class="tags">
			<ul>
				{tags.map((tag) => (
					<li>
						<a href={`/articles?tags=${tag.toLocaleLowerCase()}`}>{`${tag}${tags.at(-1) === tag ? "" : ","}`}</a>
					</li>
				))}
			</ul>
		</div>
		<div class="heading">
			<h1>{title}</h1>
		</div>
		<div class="published">
			<time datetime={published_at}>{DateFormatter.format(new Date(published_at))}</time>
			<span>{author}</span>
		</div>
		{data.coverImage && <div>
			<figure>
				<Image src={data.coverImage} width={700} height={400} aspectRatio={'16:9'} format={'webp'} alt={data.title} />
			</figure>
		</div>}
	</header>
	<slot />
	<footer>
		<h2>Comments</h2>
	</footer>
</article>
