---
import { createDateFormatter } from "@root/utils";
import { Image } from "@astrojs/image/components";
import ArticleComments from "@components/ArticleComments";
import "./ArticlePost.scss";
import TranslatedLink from "../TranslatedLink";

export type Props = {
	data: ArticleType;
	lang: string;
};

const { data, lang } = Astro.props as Props;
const { title, tags, author, published_at } = data;
---

<article class="article">
	<header>
		<div class="tags">
			<ul>
				{
					tags.map((tag) => (
						<li>
							<TranslatedLink to={`/articles/?tags=${tag.toLocaleLowerCase()}`}>{`${tag}${tags.at(-1) === tag ? "" : ","}`}</TranslatedLink>
						</li>
					))
				}
			</ul>
		</div>
		<div class="heading">
			<h1>{title}</h1>
		</div>
		<div class="published">
			<time datetime={published_at}>{createDateFormatter(lang).format(new Date(published_at))}</time>
			<span>{author}</span>
		</div>
		{
			data.coverImage && (
				<div>
					<figure>
						<Image src={data.coverImage} width={700} height={400} aspectRatio={"16:9"} format={"webp"} alt={data.title} />
					</figure>
				</div>
			)
		}
	</header>
	<slot />
	<ArticleComments />
</article>
