---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import { DEFAULT_LANGUAGE, SITE_METADATA } from "@root/constants";
import BaseHead from "@components/BaseHead.astro";
import BaseLayout from "@components/BaseLayout.astro";
import ArticleContent from "@components/ArticleContent.astro";
import ArticlePost from "@components/ArticlePost.astro";
import OpenGraph from "@components/OpenGraph.astro";
import TableOfContents from "@root/components/TableOfContents.astro";
import { useTranslation } from "@root/i18n/utils";

export interface Props {
	lang?: string | undefined;
	article: CollectionEntry<"blog">;
	availableOnLangs?: CollectionEntry<"blog">[];
	headings: MarkdownHeading[];
}

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const { lang = DEFAULT_LANGUAGE, article, headings, availableOnLangs } = Astro.props as Props;
const {
	data: { title, description, coverImage },
} = article;
---

<html lang={lang}>
	<BaseHead title={title} description={description}>
		<OpenGraph
			title={title}
			siteName={SITE_METADATA.name}
			description={description}
			type="article"
			url={canonicalUrl.href}
			image={coverImage
				? { path: coverImage, width: "700", height: "400", type: coverImage }
				: undefined}
		/>
		<script is:inline defer src="/assets/js/load-code-highlight.js"></script>
	</BaseHead>

	<BaseLayout>
		<div class="container">
			<ArticlePost lang={lang} article={article} availableOnLangs={availableOnLangs}>
				<TableOfContents headings={headings} />
				<ArticleContent>
					<slot />
				</ArticleContent>
			</ArticlePost>
		</div>
	</BaseLayout>
</html>
