---
import type { Props as BaseHeadProps } from "@root/components/BaseHead.astro";
import BaseHead from "@components/BaseHead.astro";
import BaseLayout from "@components/BaseLayout.astro";
import ArticleContent from "@components/ArticleContent/ArticleContent.astro";
import ArticlePost from "@components/ArticlePost/ArticlePost.astro";
import { SITE_METADATA } from "@root/constants";
import type { CollectionEntry } from "astro:content";

export interface Props {
	lang?: string | undefined;
	content: CollectionEntry<"blog">;
}
const { lang = "ru", content } = Astro.props as Props;
---

<html lang={lang}>
	<BaseHead title={content.data.title} description={content.data.description}>
		<meta property="og:title" content={content.data.title} />
		<meta property="og:site_name" content={SITE_METADATA.name} />
		<meta property="og:description" content={content.data.description} />
		<meta property="og:type" content="article" />
		<!-- <meta property="og:url" content={canonicalUrl} /> -->
		<!-- {content.coverImage && (
			<meta property="og:image" content={isURL(content.coverImage) ? content.coverImage : `${Astro.url.origin}${content.coverImage}`} />
			<meta property="og:image:width" content="700" />
			<meta property="og:image:height" content="400" />
			<meta property="og:image:type" content={`${mime.lookup(extname(content.coverImage))}`} />
		)} -->
		<script is:inline defer src="/assets/js/load-code-highlight.js"></script>
	</BaseHead>

	<BaseLayout>
		<div class="container">
			<ArticlePost lang={lang} article={content}>
				<ArticleContent>
					<slot />
				</ArticleContent>
			</ArticlePost>
		</div>
	</BaseLayout>
</html>
