---
import type { Props as BaseHeadProps } from "@components/BaseHead.astro";

import { SITE_METADATA } from "@root/config";
import BaseHead from "@components/BaseHead.astro";
import BaseLayout from "@components/BaseLayout";
import PageHeading from "@components/PageHeading";
import "@styles/global.scss";

export interface Props extends BaseHeadProps {
	lang?: string | undefined;
	showPageHeading?: boolean | undefined;
}

const { title, description, lang = "ru", showPageHeading = true } = Astro.props as Props;
---

<html lang={lang}>
	<head>
		<BaseHead title={title ? `${title} | ${SITE_METADATA.title}` : SITE_METADATA.title} description={description} />
	</head>

	<BaseLayout>
		<div class="container">
			{showPageHeading && <PageHeading heading={title} description={description} />}
			<slot />
		</div>
	</BaseLayout>
</html>
