---
import type { Props as BaseHeadProps } from "@components/BaseHead.astro";

import { SITE_METADATA } from "@root/config";
import BaseHead from "@components/BaseHead.astro";
import BaseLayout from "@components/BaseLayout";
import "@styles/global.scss";

export interface Props extends BaseHeadProps {
	lang?: string | undefined;
	noIndex?: boolean | undefined;
	canonicalUrl?: string | undefined;
}

const { title, description, lang = "ru", noIndex = false, canonicalUrl } = Astro.props as Props;
---

<html lang={lang}>
	<BaseHead
		title={title ? `${title} | ${SITE_METADATA.title}` : SITE_METADATA.title}
		description={description}
		canonicalUrl={canonicalUrl}
	>
		{noIndex && <meta name="robots" content="noindex" />}
	</BaseHead>
	<BaseLayout>
		<div class="container">
			<slot />
		</div>
	</BaseLayout>
</html>
